
<div *ngIf="orders">
  <div class="product-grid" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let product of orders">
        <mat-card class="order-details-card">
          <mat-card-header class="order-details-card-header">
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.collections[0]?.name }}</mat-card-subtitle>
            <img mat-card-image [src]="product.assets[0].source" alt="Product Image" style="width: 100px;" />
          </mat-card-header>
          <mat-card-content>
            <p>{{ product.description }}</p>
            <p *ngIf="product.variants">
              Selected Variant: {{ product.variants.name }} - {{ product.variants.price | currency: product.variants.currencyCode }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="clearOrder(product.id)">Clear Order</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="order-details-clear-all" mat-button (click)="clearAllOrders()">Clear All Orders</button>
  </div>
</div>
